<a href="/post/{{id}}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Body Mass Index: XX</h5>
            <small>{{created_at}} by {{user.first_name}}</small>
        </div>
        <p class="mb-1">Weight: {{weight}} lbs. | Blood Pressure: {{systolic_blood_pressure}}/{{diastolic_blood_pressure}} | Heart Rate: {{heart_rate}} bpm | Exercise Duration:
            {{exercise_duration}} mins. | Exercise Type: {{exercise_type}} | {{water_consumed}} ml Water Consumed</p>
        <small>Comments: {{comments}}</small>
    </a>