<a href="/post/{{id}}" class="list-group-item list-group-item-action flex-column align-items-start">

    <div class="row d-flex w-100 justify-content-between">
        <h5 class="mb-1 font-weight-bold">Body Mass Index: {{bmi}}</h5>
        <small>{{created_at}} by {{user.first_name}}</small>
    </div>

    <div class="row mt-2 mb-1">
        <div class="col-md-12">
            <p><i class="fas fa-weight"></i> Weight: {{weight}} lbs. | <i class="fas fa-stethoscope"></i>
                Blood
                Pressure: {{systolic_blood_pressure}}/{{diastolic_blood_pressure}} | <i class="fas fa-heartbeat"></i>
                Heart
                Rate: {{heart_rate}} bpm | <i class="fas fa-stopwatch"></i> Exercise Duration:
                {{exercise_duration}} mins. | <i class="fas fa-dumbbell"></i> Exercise Type: {{exercise_type}} | <i
                    class="fas fa-tint"></i> Water Consumed: {{water_consumed}} oz.</p>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <p><span class=""><i class="fas fa-comments"></i> Comments: </span>{{comments}}</p>
        </div>
    </div>

</a>