<article class="post">
  <div class="title">
    <span>({{user.first_name}})</span>
    <span>({{user.last_name}})</span>
    <span>({{weight}})</span>
    <span>({{systolic_blood_pressure}})</span>
    <span>({{diastolic_blood_pressure}})</span>
    <span>({{heart_rate}})</span>
    <span>({{exercise_duration}})</span>
    <span>({{water_consumed}})</span>
    <span>({{created_at}})</span>
</article>