<a href="/post/{{id}}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Body Mass Index: {{bmi}}</h5>
        <small>{{created_at}} by {{user.first_name}}</small>
    </div>
    <p class="mt-2 mb-1"><i class="fas fa-weight"></i> Weight: {{weight}} lbs. | <i class="fas fa-stethoscope"></i> Blood
        Pressure: {{systolic_blood_pressure}}/{{diastolic_blood_pressure}} | <i class="fas fa-heartbeat"></i> Heart
        Rate: {{heart_rate}} bpm | <i class="fas fa-stopwatch"></i> Exercise Duration:
        {{exercise_duration}} mins. | <i class="fas fa-dumbbell"></i> Exercise Type: {{exercise_type}} | <i class="fas fa-tint"></i> Water Consumed: {{water_consumed}} oz.</p>
    <p class="mt-3"> <i class="fas fa-comments"></i> Comments: {{comments}}</p>
</a>